

p{
    background-color:yellow;
}


body{

    background-color:white;
    color:#404040;
    text-font:11pt;
    font-family: Georgia, Garamond;

}

a{
    color:#A4A400;
}

a.home{
    color:blue;
    font-size:20px;
    font-weight:400;

}

h1,h2 {
    color:#A4A400;
    background-color:#F0F0F0;
    text-decoration: underline;
    font-family:Lucida Sans Unicode, Helvetica, Arial;
    font-size:18pt;

}

h1{
    text-align:center;
    font-size:22pt;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#deletedCake{

    text-decoration: line-through;
}

.emphasize{

    font-weight:bold;
}










































