

body{
    background-color: black;
    color: white;


}


div#favMovie{

    width: 300px;
    margin: Auto;

}

h1#allAboutMe{

    text-align: center;
    text-decoration: underline;
    color:dodgerblue;
    font-size: 38px;

}

